<div class="container">
	<div class="row">
		<div class="about-content-housing col-xs-12 col-sm-12 pull-right">
			<div class="about-pic-stuff col-xs-6 col-sm-6">
				<img src="/assets/me.jpg" class="img-responsive">
				<h1 class="about-erik">A Little Summary</h1>
					<p>Erik loves technology and the real world application of it. He has dabbled in finance and retail and spent recent years building a retail business from the ground up. But he found himself yearning for more and decided to enter the world of programming. He took a deep dive into callback hell and never looked back.

					He is now a teacher at the online coding bootcamp Altcademy and teaches courses in front-end web development and blockchain.

					Find him on GitHub, LinkedIn or send him an email: youngerik26 @ gmail.com.</p>
					
				
			
			</div><!-- col-xs-6 -->
		</div><!-- col-xs-12 -->
	</div><!-- row -->
</div><!-- container -->