
<div class="video-display">
	<%= video_tag(["saigon.mp4"], :autoplay => true, :loop => true, muted: true, controls: true) %>

</div>

<div class="container">
	<div class="row">
			<div class="featured-pieces-class col-12">
					<h1 class="featured-pieces">Featured Pieces</h1>
			</div> <!-- col-xs-12 -->


			<div class="image-shower col-12">
				<div class="row">
							<div class="pics-images col-6" style="background-image:url(<%= image_path('slider11.jpg') %>);"></div> <!-- pics-image -->
								
							<div class="pics-images col-6" style="background-image:url(<%= image_path('ielts.jpg') %>);">>
								
							</div><!-- pics-images -->

				</div><!-- row -->
			</div> <!-- image-shower -->
			
			
	</div> <!-- row -->
	
</div><!-- container -->