<div class="video-display">
				<%= video_tag(["saigon.mp4"], :autoplay => true, :loop => true, muted: true, controls: true) %>
</div>

<div class="container">
	<div class="row">
			<div class="featured-pieces-class col-xs-12 col-sm-12">
				<h1 class="featured-pieces">Featured Pieces</h1>
			</div> <!-- col-xs-12 -->


			<div class="image-shower">
				<div class="row">
					<div class="col-xs-6 col-sm-6">
				
					<%= image_tag 'slider11.jpg', class: 'img-fluid' %> 
					<%= image_tag 'ielts.jpg', class: 'img-fluid' %> 
					</div>
				</div>
			</div> <!-- image-shower -->
			
			
	</div> <!-- row -->
</div><!-- container -->