<div class="video-display">
				<%= video_tag(["saigon.mp4"], :autoplay => true, :loop => true, muted: true, controls: true) %>
</div>

<div class="container">
	<div class="row">
			<div class="featured-pieces-class col-12">
				<h1 class="featured-pieces">Featured Pieces</h1>
			</div> <!-- col-xs-12 -->


			<div class="col-12">
				<div class="row">
					<div class="col-6">
						<div class="row">
							<div class="col-6">
								<div class="showcase" style="background-image: url(<%= image_path('slider11.jpg') %>);">
								</div>
							</div>
							<div class="col-6">
								<div class="showcase" style="background-image: url(<%= image_path('ielts.jpg') %>);">
								</div>
							</div>
						</div>
					</div>
				</div>
			</div> <!-- image-shower -->
	</div> <!-- row -->
</div><!-- container -->
