<div class="main-carousel">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="intro-message">
					<h1>Erik Young</h1>
					<h3>Full Stack Developer</h3>
					<hr class="intro-divider">
					<ul class="list-inline intro-social-buttons">
						<li>
							<%= link_to 'https://github.com/erikyoung' do %>
	    				<span class="fa fa-github-square fa-2x social-button"></span>
	    				<% end %>
						</li>
						<li>
							<%= link_to 'https://www.linkedin.com/in/erik-young-b2727161/' do %>
	    				<span class="fa fa-linkedin fa-2x social-button"></span>
	    				<% end %> 
						</li>
					</ul>
				</div>
			</div>
		</div>

	</div>
</div>
<div class="featured-artwork-box container-fluid">
	<div class="row">
		<div id="portfolios" class="col-12 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1">
			<p class="text-center header">Portfolios</p>
			<div class="col-6 featured-art">

				
				<p class="artist-info">
					<span class="artist-name">Erik Young</span>

					<em class="port-desc-lite">
						<span class="artwork-name">Food N'Stuff</span>
						<span class="artwork-year">2014</span>
					</em>
					<br />
					<span class="port-desc">A website that features a restaurant menu and basic ordering system.</span>
					<br />
					<span class="artwork-medium">HTML | CSS | JS | Ruby on Rails </span>
				</p>
			</div><!-- featured-art -->
		
		</div><!--portfolios -->
	</div><!--row -->
</div><!--featured-artwork -->


