<div class="main-carousel">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="intro-message">
					<h1>Erik Young</h1>
					<h3>Full Stack Developer</h3>
					<hr class="intro-divider">
					<ul class="list-inline intro-social-buttons">
						<li>
							<%= link_to 'https://github.com/erikyoung' do %>
	    				<span class="fa fa-github-square fa-2x social-button"></span>
	    				<% end %>
						</li>
						<li>
							<%= link_to 'https://www.linkedin.com/in/erik-young-b2727161/' do %>
	    				<span class="fa fa-linkedin fa-2x social-button"></span>
	    				<% end %> 
						</li>
					</ul>
				</div>
			</div>
		</div>

	</div>
</div>
<div class="featured-artwork-box container-fluid">
	<div class="row">
		<div id="portfolios" class="col-12 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1">
		</div>
	</div>
</div>


