@import "bootstrap";
@import "font-awesome";

body {
	margin: 0 auto;
	background: rgba(248,80,50,1);
background: -moz-linear-gradient(left, rgba(248,80,50,1) 0%, rgba(241,111,92,1) 34%, rgba(246,41,12,1) 77%, rgba(245,42,15,1) 82%, rgba(240,47,23,1) 98%, rgba(231,56,39,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(248,80,50,1)), color-stop(34%, rgba(241,111,92,1)), color-stop(77%, rgba(246,41,12,1)), color-stop(82%, rgba(245,42,15,1)), color-stop(98%, rgba(240,47,23,1)), color-stop(100%, rgba(231,56,39,1)));
background: -webkit-linear-gradient(left, rgba(248,80,50,1) 0%, rgba(241,111,92,1) 34%, rgba(246,41,12,1) 77%, rgba(245,42,15,1) 82%, rgba(240,47,23,1) 98%, rgba(231,56,39,1) 100%);
background: -o-linear-gradient(left, rgba(248,80,50,1) 0%, rgba(241,111,92,1) 34%, rgba(246,41,12,1) 77%, rgba(245,42,15,1) 82%, rgba(240,47,23,1) 98%, rgba(231,56,39,1) 100%);
background: -ms-linear-gradient(left, rgba(248,80,50,1) 0%, rgba(241,111,92,1) 34%, rgba(246,41,12,1) 77%, rgba(245,42,15,1) 82%, rgba(240,47,23,1) 98%, rgba(231,56,39,1) 100%);
background: linear-gradient(to right, rgba(248,80,50,1) 0%, rgba(241,111,92,1) 34%, rgba(246,41,12,1) 77%, rgba(245,42,15,1) 82%, rgba(240,47,23,1) 98%, rgba(231,56,39,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f85032', endColorstr='#e73827', GradientType=1 );
z-index: 0;
}

.container {
	margin-top: 20px;

}

.box-for-app {
	margin-top: 20px;
	line-height: 1;
	display: inline-block;
}

.simple-title-for-app {
	color: black;
	display: block;
	text-align: center;
	margin-bottom: 30px;

}




video {
	max-width: 100%;
	width: 100%; 
	
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
   
}



.white-hr {
	color: black;
	font-weight: solid black;
}

.embedded-content {
	color:black;
	background-color: #bad0f2;
	opacity: 0.5;
	width: 320px;
	padding: 25px;
	margin: 25px;
	font-size: 40px;
	position: fixed; /* or absolute */
	top: 20%;
	left: 30%;
	margin-right: 150px;
	font-family: 'Schoolbell', cursive;
  	   
}



.content-box {
	width: 100%;
	display: inline-block;
	background-color: #fff;
	padding: 25px;
	margin: 25px;

}

.about-content-housing {
	
	width: 100%;
	display: inline-block;
	background-color: #fff;
	padding: 25px;
	margin: 25px;
}

.about-erik {
	margin-top: 10px;
}

.carousel-inner > .carousel-item > img, .carousel-inner > .carousel-item > a > img {
  height: 550px;
  width: 100%;
}

.carousel-caption {
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
 
}

.featured-pieces {
	text-align: center;
	font-weight: 100;
	font-family: 'Helvetica Neue', Helvetica, sans-serif;
	background: yellow;
	padding: 25px;
	margin-left: 55px;
}



.image-shower {
	display:inline-block;
	float: right;
}

.image-shower .col-xs-6 {
	display:inline-block;
}



.img-fluid {
	
	margin-top: 30px;
	-webkit-box-shadow: 0 10px 6px -6px #777;
       -moz-box-shadow: 0 10px 6px -6px #777;
            box-shadow: 0 10px 6px -6px #777;
}

 


